body {
	margin: 0;
}

:root {
	--black-color: rgb(29 27 27 / 87%);
	--white-color: #fffafa;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: var(--black-color);
	background-color: #ffffff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

ul {
	padding: 0;
}

li {
	list-style: none;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

button, input {
	border-radius: 2px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}

input, select {
	border-radius: 2px;
	border: 1px solid var(--black-color);
	color: var(--black-color);
	padding: 0.6em 1.2em;
	font-size: 1em;
	background-color: var(--white-color);
}

button.btn-primary {
	background-color: var(--black-color);
	border: 1px solid transparent;
}

button.btn-secondary {
	background-color: #fffafa;
	border: 1px solid var(--black-color);
	color: var(--black-color);
}

button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

#app {
	max-width: 1980px;
	width: 100%;
	margin: 0 auto;
}

/* layout style */
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1.7fr 1.7fr 0.2fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'header header header'
		'content content content'
		'content content content'
		'footer footer footer';
}

.header {
	grid-area: header;
	padding: 15px 20px;
}

.header .header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.content {
	grid-area: content;
	padding: 0 20px;
}

.footer {
	grid-area: footer;
	padding: 25px 20px;
}

/* planet style */
.planets-container {
	min-width: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* pagination */
.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination .pagination-button {
	flex-basis: 10%;
}

.pagination .page-numbers {
	flex-basis: 80%;
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.page-numbers .number {
	cursor: pointer;
	padding: 8px;
}

.page-numbers .number:hover, .page-numbers .number.active {
	text-decoration: underline;
}

/* toolbar */
.toolbar {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.toolbar .form-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

/* card */
.card-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 16px 0;
}

.card {
	padding: 8px 20px;
	background-color: #e2e2ee;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-aside {
	border-left: 1px solid;
	padding: 10px 20px;
}